.container{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(20, 1fr);
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.plagg{
  display: inline-grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(4, 2fr);
  grid-gap: 3px;
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

header{
  background-color: rgb(45, 105, 221);
  padding: 10px;
  grid-column: 2/13;
  grid-row: 1/4;
}

#topbar{
  background-color: rgb(0, 139, 229);
}

.search-btn{
  background-image: url(../images/glas.jpg);
  background-size: cover;
}

.nav{
  padding: 20px;
  grid-column: 2/13;
  grid-row: 4/7;
  display: inline-block;
}

.leftnav{
  padding: 20px;
  grid-column: 1/1;
  grid-row: 1/21;
}

#navnav{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  grid-column: 1/1;
  grid-row: 1/21;
}

section{
  padding: 20px;
  grid-column: 2/13;
  grid-row: 7/20;
}

.bakgrund{
  grid-column: 2/13;
  grid-row: 4/20;
  background-image: url(../images/bakom1.jpg);
  background-size: cover;
}

footer{
  padding: 20px;
  background-color: rgb(85, 85, 85);
  grid-column: 2/13;
  grid-row: 20/21;
}

@media screen and (max-width: 640px){
  nav{
    grid-column: 1/-1;
  }
  section{
    grid-column: 1/-1;
  }
}

.categories {
  margin: 0px;
  padding: 0px;
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-gap: 3px;
  height: 100%;
  width: 88%;
}

#man{
  grid-column: 2/3;
  grid-row: 1/1;
}

#kvinna{
  grid-column: 4/5;
  grid-row: 1/1;
}

#barn{
  grid-column: 6/7;
  grid-row: 1/1;
}
